<div class="tabla">
    <div class="buttons">
      <button mat-raised-button>Agregar</button>  
      <button mat-raised-button>Editar</button>  
      <button mat-raised-button>Eliminar</button>  
  </div>
    <div class="selects">
      <div class="select">
        <h4>Buscar por:</h4>
        <mat-form-field>
          <mat-label>Seleccione</mat-label>
          <mat-select>
            <mat-option *ngFor="let busca of buscar" [value]="busca.value">
              {{busca.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        
      </div>
      
    </div>
  
  
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
  
      <ng-container matColumnDef="tipo">
        <th mat-header-cell *matHeaderCellDef> Tipos de Estudio </th>
        <td mat-cell *matCellDef="let element"> {{element.tipo}} </td>
      </ng-container>
  
      <ng-container matColumnDef="periodo">
        <th mat-header-cell *matHeaderCellDef> Aplica Período </th>
        <td mat-cell *matCellDef="let element"> <mat-form-field>
            <mat-label>Seleccione</mat-label>
            <mat-select>
              <mat-option *ngFor="let aplica of aplica" [value]="aplica.value">
                {{aplica.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field> </td>
      </ng-container>
  
      <ng-container matColumnDef="pro">
        <th mat-header-cell *matHeaderCellDef> Tipo de Horario </th>
        <td mat-cell *matCellDef="let element"> {{element.pro}} </td>
      </ng-container>
  
      <ng-container matColumnDef="deno">
        <th mat-header-cell *matHeaderCellDef> Denominación </th>
        <td mat-cell *matCellDef="let element"> {{element.deno}} </td>
      </ng-container>
      
      <ng-container matColumnDef="nomina">
        <th mat-header-cell *matHeaderCellDef> Genera Nómina </th>
        <td mat-cell *matCellDef="let element"> <mat-form-field>
            <mat-label>Seleccione</mat-label>
            <mat-select>
              <mat-option *ngFor="let nomina of nomina" [value]="nomina.value">
                {{nomina.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field> </td>
      </ng-container>

      <ng-container matColumnDef="ficha">
        <th mat-header-cell *matHeaderCellDef> Última Ficha </th>
        <td mat-cell *matCellDef="let element"> {{element.ficha}} </td>
      </ng-container>

      <ng-container matColumnDef="contenido">
        <th mat-header-cell *matHeaderCellDef> Nombre Contenido </th>
        <td mat-cell *matCellDef="let element"> {{element.contenido}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  
  </div>
  