<div class="tabla">
    
    <div class="buttons">
        <button mat-raised-button>Agregar</button>
        <button mat-raised-button>Editar</button>
        <button mat-raised-button>Eliminar</button>
    </div>
  
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
  
      <!-- Position Column -->
      <ng-container matColumnDef="semana">
        <th mat-header-cell *matHeaderCellDef> Semana </th>
        <td mat-cell *matCellDef="let element"> {{element.semana}} </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> Inicio </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
      </ng-container>
  
      <ng-container matColumnDef="fecha2">
        <th mat-header-cell *matHeaderCellDef> Fin </th>
        <td mat-cell *matCellDef="let element"> {{element.fecha2}} </td>
      </ng-container>
  
      <ng-container matColumnDef="feri">
        <th mat-header-cell *matHeaderCellDef> Feriados </th>
        <td mat-cell *matCellDef="let element"> {{element.feri}} </td>
      </ng-container>

      <ng-container matColumnDef="acum">
        <th mat-header-cell *matHeaderCellDef> % Acum. </th>
        <td mat-cell *matCellDef="let element"> {{element.acum}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
  
  </div>
  